//
//  Variables
//  _____________________________________________

@legend-border-bottom: 1px solid @color-gray-light6;
@form-field__vertical-indent__desktop: 29px;
@form-calendar-icon__color: @primary__color;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .box-tocart {
        margin: 0;

        .fieldset {
            > .field.qty {
                margin: 0;

                .label {
                    float: left;
                    width: 56px;
                    text-transform: uppercase;
                    font-weight: @font-weight__bold;
                }

                .control {
                    .lib-vendor-prefix-display(flex);

                    button {
                        .lib-font-size(25px);
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-box-align(center);
                        width: 35px;
                        height: 100%;
                        background: @color-custom_white;
                        font-weight: @font-weight__bold;
                        border-radius: 1px;
                        justify-content: center;

                        &:hover {
                            color: @color-custom_subtitle;
                        }
                    }

                    .input-text.qty {
                        .lib-font-size(14px);
                        height: 32px;
                        background: @color-custom_white;
                        border-radius: 1px;

                        &:focus {
                            box-shadow: 0 0 0;
                            border: 1px solid #ddd;
                        }
                    }
                }
            }

            > .actions {
                margin-left: @indent__xl + @indent__base;
                margin-top: @indent__s;

                .action.primary.tocart {
                    .lib-font-size(14px);
                    border-radius: 0;
                    line-height: 1;
                    padding-top: @indent__s;
                    white-space: nowrap;
                    display: inline-block;
                    background: 0 0;
                    border: none;
                    color: @color-custom_title;
                    text-transform: uppercase;
                    font-weight: @font-weight__bold;
                    border-bottom: 1px solid @color-custom_title;

                    span{
                        padding-bottom: @indent__s;
                    }
                }
            }
        }
    }

    .fieldset {
        .lib-form-fieldset();

        &:last-child {
            margin-bottom: @indent__base;
        }

        > .field,
        > .fields > .field {
            .lib-form-field();
            &.no-label {
                > .label {
                    .lib-visually-hidden();
                }
            }

            &.choice {
                .label {
                    display: inline;
                    font-weight: normal;
                    margin: 0;
                }
            }

            .label {
                .column:not(.main) & {
                    font-weight: normal;
                }
            }

            .field.choice {
                margin-bottom: @indent__s;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .legend + .fieldset,
    .legend + div {
        clear: both;
    }

    .legend {
        > span {
            margin-right: @indent__xs;
        }
    }

    fieldset.field {
        border: 0;
        padding: 0;
    }

    .field {
        &.date {
            .time-picker {
                display: inline-block;
                margin-top: @indent__s;
                white-space: nowrap;
            }
        }

        .message {
            &.warning {
                margin-top: @indent__s;
            }
        }
    }

    .select-styling() {
        .lib-css(appearance, none, 1);
        appearance: none;
        background-size: 30px 60px;
        text-indent: .01em;
        text-overflow: '';

        &::-ms-expand {
            display: none;
        }
    }

    select {
        .select-styling();
    }

    select.admin__control-multiselect {
        height: auto;
    }

    .field-error,
    div.mage-error[generated] {
        margin-top: 7px;
    }

    .field-error {
        .lib-form-validation-note();
    }

    .product-options-wrapper {
        .date {
            &.required {
                div[for*='options'] {
                    &.mage-error {
                        display: none !important;
                    }
                }
            }
        }
    }

    //  TEMP

    .field .tooltip {
        .lib-tooltip(right);
        .tooltip-content {
            min-width: 200px;
            white-space: normal;
        }
    }

    input:focus ~ .tooltip .tooltip-content,
    select:focus ~ .tooltip .tooltip-content {
        display: block;
    }

    ._has-datepicker {
        ~ .ui-datepicker-trigger {
            .lib-button-reset();
            .lib-icon-font(
            @_icon-font-content: @icon-calendar,
            @_icon-font-color: @primary__color__lighter,
            @_icon-font-size: @icon-calendar__font-size,
            @_icon-font-line-height: @icon-calendar__font-size,
            @_icon-font-display: block,
            @_icon-font-text-hide: true
            );
            display: inline-block;
            margin-top: -4px;
            vertical-align: middle;

            &:focus {
                box-shadow: none;
                outline: 0;
            }
        }
    }

    .field.date,
    .field-dob {
        ._has-datepicker {
            &:extend(.abs-field-date-input all);
        }
    }

    //
    //  Sidebar forms
    //  ---------------------------------------------

    .sidebar {
        .fieldset {
            margin: 0;

            > .field:not(.choice) >,
            .fields > .field {
                &:not(:last-child) {
                    margin: 0 0 @form-field__vertical-indent;
                }

                .label {
                    margin: 0 0 4px;
                    padding: 0 0 @indent__xs;
                    text-align: left;
                    width: 100%;
                }

                .control {
                    width: 100%;
                }
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .box-tocart {
        .fieldset {
            > .field.qty {
                .control {
                    .input-text.qty {
                        width: 60%;
                    }
                }
            }

            > .actions {
                width: 70%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .box-tocart {
        .fieldset {
            > .field.qty {
                .control {
                    .input-text.qty {
                        width: 50%;
                    }
                }
            }

            > .actions {
                .action.primary.tocart {
                    width: 73%;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .legend {
        .lib-css(border-bottom, @legend-border-bottom);
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .box-tocart {
        .fieldset {
            > .field.qty {
                .control {
                    .input-text.qty {
                        width: 30%;
                    }
                }
            }

            > .actions {
                width: 80%;

                .action.primary.tocart {
                    width: 49%;
                }
            }
        }
    }
}
