& when (@media-common = true) {
    .nice-select {
        -webkit-tap-highlight-color: transparent;
        background-color: @color-custom_white;
        color: @color-custom_subtitle;
        box-sizing: border-box;
        border: 1px solid @color-custom_border__input;
        clear: both;
        cursor: pointer;
        display: block;
        float: left;
        font-family: inherit;
        font-size: 14px;
        font-weight: normal;
        line-height: 30px;
        outline: none;
        padding: 0 60px 0 10px;
        position: relative;
        text-align: left !important;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        width: auto;
        height: 32px;

        &:after{
            border-bottom: 2px solid #999;
            border-right: 2px solid #999;
            content: '';
            display: block;
            height: 5px;
            margin-top: -4px;
            pointer-events: none;
            position: absolute;
            right: 12px;
            top: 50%;
            -webkit-transform-origin: 66% 66%;
            transform-origin: 66% 66%;
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
            width: 5px;
        }

        .list {
            background-color: #fff;
            box-sizing: border-box;
            margin-top: 4px;
            opacity: 0;
            overflow: hidden;
            padding: 0;
            pointer-events: none;
            position: absolute;
            top: 100%;
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
            -ms-transform: scale(0.75) translateY(-21px);
            transform: scale(0.75) translateY(-21px);
            -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
            transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
            z-index: 9999;

            .option {
                cursor: pointer;
                font-weight: 400;
                line-height: 40px;
                list-style: none;
                min-height: 40px;
                outline: none;
                padding-left: 18px;
                padding-right: 29px;
                text-align: left;
                -webkit-transition: all 0.2s;
                transition: all 0.2s;

                &:hover{
                    background-color: @color-custom_border__input;
                }
            }

            .selected {
                background-color: @color-custom_subtitle;
                color: @color-custom_white;
                font-weight: bold;

                &:hover{
                    background-color: @color-custom_subtitle;
                    color: @color-custom_white;
                }
            }
        }
    }

    .nice-select.open {
        &:after{
            -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }

        .list {
            opacity: 1;
            pointer-events: auto;
            border: 1px solid @color-custom__border-select;
        }
    }

    .no-csspointerevents .nice-select .list {
        display: none;
    }

    .no-csspointerevents .nice-select.open .list {
        display: block;
    }
}

//Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .nice-select.open{
        .list{
            transform: scale(.6) translateY(0);
        }
    }

    .list{
        right: 12%;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .nice-select.open{
        .list{
            transform: scale(1) translateY(0);
        }
    }

    .list{
        left: 0;
    }
}

//Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l){
    .nice-select.open{
        .list{
            transform: scale(1) translateY(0);
        }
    }

    .list{
        left: 0;
    }
}
