& when (@media-common = true) {
    .description-newsletter{
        h2{
            text-transform: uppercase;
            margin-bottom: 0;
            letter-spacing: 2px;
            line-height: 1.7;
        }

        p{
            color: @color-custom_subtitle;
        }
    }

    .block.newsletter{
        float: none;
        background: @color-custom_date;
        margin-bottom: 0;

        .content{
            .form.subscribe{
                .lib-vendor-prefix-display(flex);

                .newsletter{
                    margin: 0 @indent__xs 0 0;

                    .control{
                        input{
                            padding: 0 0 0 @indent__base;
                            color: @color-custom_subtitle;
                            border: 1px solid @color-custom_border__input;

                            &:focus{
                                box-shadow: none;
                                border: 1px solid @color-custom_border__input;
                            }
                        }

                        &:before{
                            content: none;
                        }
                    }
                }

                .actions{
                    button{
                        text-transform: uppercase;
                        .lib-font-size(14px);
                        letter-spacing: 1px;
                        border-radius: 0;
                    }
                }
            }
        }
    }
}

//Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .description-newsletter{
        width: 55%;
    }

    .block.newsletter{
        margin: 0 0 0 @indent__xl;

        .form.subscribe{
            .lib-vendor-prefix-flex-direction(column);

            .field{
                .control{
                    label{
                        .lib-vendor-prefix-display(flex);
                        justify-content: center;

                        input{
                            width: 60%;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}

