<?php
/** @var \Magento\Framework\View\Element\Template $block */
/** @var \Custom\CustomModel\ViewModel\SubcategoryViewModel $viewModel */

$viewModel = $block->getData("viewModel");
?>


<div class="subcategories-container" data-mage-init=
    '{
        "accordion":
            {
                "openedState": "active",
                "collapsible": true,
                "active": false,
                "multipleCollapsible": false
            }
    }'
>
    <p class="subcategories-container__title" data-role="collapsible"><?= __("category"); ?>
        <span><i class="fa-solid fa-caret-right"></i></span>
    </p>

    <div class="subcategories-container-wrapper" data-role="content">
        <?php
        $subcats = $viewModel->getSubcategories();
        foreach ($subcats as $subcat) {
            if ($subcat->getIsActive()) {
                $subcat_url = $subcat->getUrl();
                ?>
                <div class="subcategories-container-wrapper__subcat">
                    <div>
                        <a href="<?php echo $subcat_url; ?>" ><?php echo $subcat->getName(); ?>
                            <span><?php echo $subcat->getProductCollection()->Count(); ?></span>
                        </a>
                    </div>
                </div>
                <?php
            }
        } ?>
    </div>
</div>
