& when (@media-common = true) {

    .subcategories-container {
        margin-top: @indent__xs + @indent__s;
        border-bottom: 1px solid @color-custom_border;
        padding-bottom: @indent__xs + @indent__s;

        &__title {
            .lib-font-size(18px);
            letter-spacing: 1px;
            .lib-css(color, @color-custom_filter-hover);
            font-weight: @font-weight__semibold;
            overflow: hidden;
            position: relative;
            text-transform: uppercase;
            word-break: break-all;
            z-index: 1;
            display: block;
            text-decoration: none;
            margin: 0 0 @indent__s;

            &:hover {
                cursor: pointer;
                .lib-css(color, @color-custom_black);
            }

            span i {
                position: absolute;
                top: 15%;
                left: 90%;
                .smooth-hover(all .5s ease-in-out);
            }

            &.active {
                span i {
                    transform: rotate(90deg);
                }
            }
        }

        &-wrapper {
            display: none;

            &__subcat {
                padding: @indent__s;

                a {
                    .lib-link(
                        @_link-color: @color-custom__product-attribute,
                        @_link-text-decoration: none,
                        @_link-color-visited: @color-custom__product-attribute,
                        @_link-text-decoration-visited: none,
                        @_link-color-hover: @color-custom__product-attribute,
                        @_link-text-decoration-hover: none,
                        @_link-color-active: @color-custom__product-attribute,
                        @_link-text-decoration-active: none
                    );

                    span {
                        &:before {
                            content: "(";
                            color: @color-custom__product-attribute;
                        }

                        &:after {
                            content: ")";
                            color: @color-custom__product-attribute;
                        }
                    }
                }
            }
        }

    }
}
