@import "../_copyright";

& when (@media-common = true) {
    //Header
    .page-header{
        .header{
            .panel.header{
                float: right;
                .lib-vendor-prefix-display(flex);
                .lib-vendor-box-align(center);

                .link.wishlist{
                    list-style-type: none;
                    width: 35px;
                    text-align: center;
                    float: right;

                    a{
                        visibility: hidden;
                        white-space: nowrap;
                        vertical-align: middle;
                        color: @color-custom_title;

                        .lib-icon-font(
                            @_icon-font-content: @icon-wishlist-full,
                            @_icon-font-size: 14px,
                            @_icon-font-line-height: 20px,
                            @_icon-font-color-hover: @color-custom_title,
                            @_icon-font-color-active: @color-custom_title
                        );

                        &:hover{
                            color: @color-custom_title;
                        }

                        &:before{
                            visibility: visible;
                            overflow: visible;
                        }
                    }
                }

                .header.links {
                    .to-top-btn {
                        .lib-css(background-color, @color-custom_black);
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-box-align(center);
                        justify-content: center;
                        cursor: pointer;
                        position: fixed;
                        right: 200px;

                        a {
                            .lib-icon-font(
                                @_icon-font-content: @icon-arrow-up,
                                @_icon-font-size: 16px,
                                @_icon-font-line-height: 20px,
                                @_icon-font-color: @color-custom_white,
                                @_icon-font-text-hide: true
                            );
                        }
                    }
                }

                .link.authorization-link{
                    overflow: hidden;
                    text-align: center;
                    list-style-type: none;
                    float: right;

                    a{
                        color: @color-custom_title;
                        text-decoration: none;
                        text-transform: uppercase;

                        &:hover{
                            color: @color-custom_subtitle;
                        }
                    }
                }

                .minicart-wrapper{
                    margin-left: 0;
                }
            }
        }
    }

    //Footer
    .page-footer {
        padding-bottom: 0;

        .footer{
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(center);
            justify-content: space-between;
            padding-bottom: @indent__base;
        }

        .footer-container {
            background: @color-custom_white;

            &__links{
                h2{
                    text-transform: uppercase;
                    .lib-font-size(16px);
                    letter-spacing: 1px;
                    font-weight: @font-weight__semibold;
                    line-height: 1;
                    margin-bottom: @indent__xl;
                    color: @color-custom_title;
                    font-family: Poppins, sans-serif;

                    a:hover{
                        color: @color-custom_subtitle;
                        text-decoration: none;
                    }
                }

                ul{
                    padding: 0;

                    li{
                        list-style-type: none;
                        padding-bottom: @indent__s;

                        &:hover{
                            a{
                                padding: 0 @indent__xs 0 @indent__s + @indent__xs;

                                &:before{
                                    left: 1px;
                                }
                            }
                        }

                        a{
                            color: @color-custom_subtitle;
                            text-transform: capitalize;
                            .lib-font-size(15px);
                            position: relative;
                            display: block;
                            overflow: hidden;
                            font-family: Poppins, sans-serif;

                            &:before{
                                content: "";
                                width: 7px;
                                height: 7px;
                                background: @color-custom_subtitle;
                                position: absolute;
                                top: 35%;
                                left: -15px;
                                border-radius: 50%;
                                transition: left .25s cubic-bezier(.54,.49,0,1.75);
                                -webkit-font-smoothing: antialiased;
                            }

                            &:hover{
                                color: @color-custom_title;
                                text-decoration: none;
                                padding: 0 @indent__xs 0 @indent__s + @indent__xs;
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    //Header
    .page-header{
        border-bottom: none;
        margin-bottom: 0;
        padding: 0;

        .header{
            .action.nav-toggle{
                top: 63%;
            }

            .logo{
                padding: @indent__base 0;
                margin: 0 auto;
                display: block;
                float: none;
                position: relative;

                &:after{
                    content: "";
                    width: 387px;
                    height: 1px;
                    background: @color-custom_border;
                    position: absolute;
                    top: 100%;
                    left: -57%;
                }

                img{
                    transform: scale3d(.8,.8,.8);
                }
            }

            .panel.header{
                height: 100px;
                margin-top: -10px;

                .header.links {
                    .link.authorization-link {
                        display: none;
                    }
                }

                .link.authorization-link{
                    width: 20%;
                    padding: 0 10px 3px 0;

                    a{
                        .lib-font-size(0);
                        .lib-icon-font(
                            @_icon-font-content: @icon-account,
                            @_icon-font-size: 16px,
                            @_icon-font-line-height: 20px,
                            @_icon-font-color: @color-custom_title,
                            @_icon-font-text-hide: true
                        );
                    }
                }

                .link.wishlist{
                    a{
                        width: 25px;
                    }
                }

                .minicart-wrapper{
                    padding: 0 15px 13px 0;

                    .action.showcart {
                        .lib-icon-font(
                            @_icon-font-content: @icon-cart,
                            @_icon-font-size: 16px,
                            @_icon-font-line-height: 20px,
                            @_icon-font-color: @color-custom_title,
                            @_icon-font-text-hide: true
                        );
                    }
                }
            }
        }
    }

    //Footer
    .page-footer {
        .footer {
            border-top: none;
            background: @color-custom_date;
        }

        .footer-container{
            padding: @indent__s @indent__s + @indent__xs;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    // Header
    .scroll{
        box-shadow: 0 0 5px @color-custom_subtitle;
        position: fixed;
        top: 0;
        -webkit-animation: fadeInDown;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-duration: .7s;
        -moz-animation-duration: .7s;
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        -webkit-animation-timing-function: ease-out;

        @-webkit-keyframes fadeInDown {
            from {
                opacity: 0;
                transform: translate3d(0, -20%, 0);
            }
            to {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }

    .page-header {
        width: 100%;
        z-index: 999;
        background: #FFFFFFF2;
        padding: 0;

        .header {
            padding: @indent__base;

            .logo{
                margin: 0;
                float: none;

                img{
                    margin: 0 auto;
                }
            }

            .panel.header{
                margin-top: -50px;

                .header.links {
                    .to-top-btn {
                        width: 30px;
                        height: 30px;
                        top: 65px;
                    }

                    .link.authorization-link {
                        display: none;
                    }
                }

                .link.authorization-link{
                    width: 65%;
                    padding: 0 10px 3px 0;

                    a{
                        .lib-font-size(12px);
                        color: @color-custom_title;
                        text-decoration: none;
                        text-transform: uppercase;

                    }
                }

                .link.wishlist{
                    a{
                        width: 25px;
                    }
                }

                .minicart-wrapper{
                    padding: 0 @indent__s + @indent__xs 0 0;

                    .action.showcart{
                        text-decoration: none;
                        text-transform: uppercase;

                        &:before{
                            content: "cart";
                            .lib-font-size(12px);
                            letter-spacing: 1px;
                            vertical-align: middle;
                            color: @color-custom_title;
                            .smooth-hover(all .3s ease);
                        }

                        &:hover:before{
                            color: @color-custom_subtitle;
                        }
                    }
                }
            }
        }
    }

    //Footer
    .page-footer {
        .footer-container{
            padding: @indent__l @indent__xl + @indent__s;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
   //Header
    .page-header{
        .header{
            padding: @indent__base;
        }
    }

    //Footer
    .page-footer {
        padding-bottom: 0;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l){
    //Header
    .scroll{
        position: fixed;
        top: 0;
        box-shadow: 0 0 5px @color-custom_subtitle;
        -webkit-animation: fadeInDown;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-duration: .7s;
        -moz-animation-duration: .7s;
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        -webkit-animation-timing-function: ease-out;

        @-webkit-keyframes fadeInDown {
            from {
                opacity: 0;
                transform: translate3d(0, -20%, 0);
            }
            to {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }

    .page-header {
        width: 100%;
        z-index: 999;
        background: #FFFFFFF2;
        padding: @indent__xs + @indent__s 0;

        .header {
            padding: @indent__l @indent__base 0;

            .logo{
                margin: -8px auto 25px 0;
                float: left;
            }

            .panel.header{
                margin-top: -50px;

                .header.links {
                    .to-top-btn {
                        width: 40px;
                        height: 40px;
                        top: 25px;
                    }

                    .link.authorization-link {
                        display: none;
                    }
                }

                .link.authorization-link{
                    width: 60px;
                    padding: 0 @indent__s 0 0;

                    a{
                        .lib-font-size(12px);
                        color: @color-custom_title;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }

                .link.wishlist{
                    a{
                        width: 30px;
                    }
                }

                .minicart-wrapper {
                    padding: 0 15px 0 0;

                    .action.showcart{
                        text-decoration: none;
                        text-transform: uppercase;

                        &:before{
                            content: "cart";
                            .lib-font-size(12px);
                            letter-spacing: 1px;
                            vertical-align: middle;
                            color: @color-custom_title;
                            .smooth-hover(all .3s ease);
                        }

                        &:hover:before{
                            color: @color-custom_subtitle;
                        }
                    }
                }
            }
        }
    }

    //Footer
    .page-footer {
        padding-bottom: 0;

        .footer-container{
            padding: 100px 15px 68px;
        }
    }
}
