& when (@media-common = true) {
    .sidebar-promotion{
        &_slider{
            .slick-dots{
                position: absolute;
            }
        }
    }
}

//Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .sidebar-promotion{
        margin-bottom: @indent__xl;

        &_slider{
            width: 300px;
            margin: 0 auto;

            .slick-dots{
                top: 83%
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .sidebar-promotion{
        margin: @indent__s + @indent__s 0;
        height: 230px;

        &_slider{
            .slick-dots{
                top: 48%
            }
        }
    }
}

//Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l){
    .sidebar-promotion{
        margin: @indent__xl 0;
        height: inherit;

        &_slider{
            .slick-dots{
                top: 80%
            }
        }
    }
}

