& when (@media-common = true) {
    .page-wrapper{
        .page-title-wrapper{
            display: none;
        }

        .post-list-wrapper{
            .post-list{
                .post-holder {
                    border-bottom: none;
                }
                .post-item{
                    margin: 0 0 @indent__xl + @indent__s 0;

                    .post-container{
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-prefix-flex-direction(column);

                        .post-image {
                            .image-container {
                                .image-wrap {
                                    .animation-type-zoom {
                                        .smooth-hover(ease-in-out .3s);
                                    }
                                }

                                .post-date {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    z-index: 3;
                                    padding: @indent__base;
                                    text-align: center;
                                    background: @color-custom_date none repeat scroll 0 0;

                                    strong {
                                        display: block;
                                        .lib-font-size(18px);
                                        font-weight: @font-weight__regular;
                                        margin-bottom: -3px;
                                    }

                                    span {
                                        font-size: 14px;
                                        font-weight: @font-weight__regular;
                                    }
                                }
                            }
                        }

                        .post-info{
                            padding: 0;

                            .post-title-wrap{
                                .post-title{
                                    .lib-font-size(18px);
                                    text-transform: uppercase;
                                    color: @color-custom_title;
                                    text-align: left;
                                    font-weight: @font-weight__regular;
                                    margin: @indent__base 0;

                                    a{
                                        text-decoration: none;

                                        &:hover{
                                            color: @color-custom_subtitle;
                                        }
                                    }
                                }
                            }

                            .post-description{
                                color: @color-custom_description;
                                border-bottom: 1px solid @color-custom_border;

                                p{
                                    .lib-font-size(16px);
                                }

                                blockquote{
                                    .lib-font-size(18px);
                                    color: @color-custom_blockquote;
                                    line-height: 30px;
                                    padding: 0 @indent__l;
                                    border-left: 5px solid @color-custom_subtitle;
                                    margin: @indent__s + @indent__xs 0;
                                }
                            }

                            .post-read-more{
                                width: 88%;
                               .lib-vendor-prefix-display(flex);
                                .lib-vendor-box-align(center);
                                justify-content: space-between;
                                margin: @indent__m 0 0 0;

                                a.post-read {
                                    text-decoration: none;
                                    text-transform: capitalize;
                                    text-align: center;
                                    width: 100px;
                                    background: @color-custom_white;
                                    border: 1px solid @color-custom_border;
                                    color: @color-custom_title;

                                    &:hover {
                                        background: @color-custom_title;
                                        color: @color-custom_white;
                                    }
                                }

                                .post-category{
                                    color: @color-custom_blockquote;
                                    font-weight: @font-weight__regular;

                                    a{
                                        color: @color-custom_blockquote;
                                        text-decoration: none;
                                        font-weight: normal;

                                        &:hover{
                                            color: @color-custom_categories;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .post-list-wrapper {
        .post-list {
            .post-item {
                .post-container {
                    .post-image {
                        width: 100%;
                    }

                    .post-info{
                        max-width: 100%;
                        width: 100%;

                        .post-description{
                            display: block;
                            width: 100%;

                            p{
                                text-align: justify;
                            }
                        }

                        .post-read-more{
                            a.post-read {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .post-list-wrapper {
        .post-list {
            .post-item {
                .post-container {
                    .post-image {
                        width: 45%;
                    }

                    .post-info{
                        .post-description{
                            width: 88%;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l){
    .post-list-wrapper {
        .post-list {
            .post-item {
                .post-container {
                    .post-image {
                        width: 30%;

                        .image-container {
                            .image-wrap {
                                &:before {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    .smooth-hover(ease-in-out .3s);
                                }

                                &:hover:before{
                                    z-index: 3;
                                    opacity: .2;
                                    background: @color-custom_subtitle;
                                    border-radius: 30% 0;

                                }
                            }
                        }

                    }

                    .post-info{
                        .post-description{
                            width: 88%;
                        }
                    }
                }
            }
        }
    }
}

