<?php
/**
 * DELETED "blog"-title;
 * ADDED "divider"-block;
 * ADDED collapsible-description;
 */
?>

<?php
/**
 *
 * @var $block \Magefan\Blog\Block\Widget\Recent
 */
?>

<?php
    $_postCollection = $block->getPostCollection();
?>
<div class="post-list-wrapper blog-widget-recent">
    <div class="divider"></div>
    <ul class="post-list clearfix">
        <?php foreach ($_postCollection as $_post) { ?>
            <?php
                $_postUrl = $block->escapeUrl($_post->getPostUrl());
                $_postName = $block->escapeHtml($_post->getTitle());
            ?>
            <li class="post-holder post-holder-<?= (int)$_post->getId() ?>">
                <?php $featuredImage = $_post->getFeaturedListImage() ?: $_post->getFeaturedImage(); ?>
                <?php if ($featuredImage) { ?>
                    <?php
                    $featuredImgAlt = $_post->getData('featured_list_img_alt') ?: $_post->getData('featured_img_alt');
                    if (!$featuredImgAlt) {
                        $featuredImgAlt = $_postName;
                    }
                    ?>
                    <div class="post-ftimg-hld">
                        <img src="<?= $block->escapeHtml($featuredImage) ?>" alt="<?= $block->escapeHtml($featuredImgAlt) ?>" />
                    </div>
                <?php } ?>

                <div class="post-header">
                    <div class="post-title-holder clearfix">
                        <div class="post-title">
                            <a class="post-item-link"
                               href="<?= /*@noEscape*/ $_postUrl ?>">
                                <?= /*@noEscape*/ $_postName ?>
                            </a>
                        </div>
                    </div>

                    <div class="post-info clear">
                        <?php if ($_post->isPublishDateEnabled()) { ?>
                            <div class="item post-posed-date">
                                <i class="far fa-calendar-alt"></i>
                                <span class="value"><?= $block->escapeHtml(date('d-M-Y', strtotime($_post->getPublishDate()))) ?></span>
                            </div>
                        <?php } ?>
                    </div>
                </div>
                <div class="post-details-wrapper" data-mage-init='{
                    "collapsible":{
                        "collapsible": true,
                        "openedState": "active",
                        "active": false,
                        "animate":{ "duration" :300, "easing":"easeInOutSine"}
                    }}'
                >
                    <div class="post-details-wrapper_title" data-role="title">
                        <p><?= $block->escapeHtml("more details") ?></p>
                    </div>

                    <div data-role="content" class="post-content">
                        <div class="post-description clearfix">
                            <div class="post-text-hld clearfix">
                                <?= /*@noEscape*/ $block->getShorContent($_post) ?>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-footer">

                </div>
            </li>

        <?php } ?>
    </ul>
</div>

