@import 'module/_listings.less';
@import 'module/_toolbar.less';
@import "module/_promotion.less";

//
//  Variables
//  _____________________________________________

@product-info-price: @color-custom_title;
@product-h1-margin-bottom-desktop: @indent__l;
@product-h1-font-size: @font-size__l;
@product-h1-font-weight: @font-weight__regular;
@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Category view
    .old-price,
    .old.price {
        .lib-css(color, @product-price__muted__color);
    }

    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ':';
                    }

                    &:last-child:after {
                        content: ')';
                    }
                }
            }

            .weee[data-label] {
                display: inline;

                &:before {
                    content: ' +' attr(data-label) ':';
                }
            }
        }
    }

    .actual-price {
        font-weight: @font-weight__bold;
    }

    .product.name a {
        &:extend(.abs-product-link all);
    }

    .special-price {
        .price-label {
            &:extend(.abs-visually-hidden all);
        }
    }

    .category-image {
        .image {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }

    .category-cms,
    .category-image,
    .category-description {
        margin-bottom: @indent__base;
    }

    //
    //  Product images general container
    //  -----------------------------------------

    .product-image-container {
        display: inline-block;
        max-width: 100%;
    }

    .product-image-wrapper {
        display: block;
        height: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .product-image-photo {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }

    //
    //  Product view
    //  -----------------------------------------
    .fotorama--fullscreen {
        .fotorama__wrap {
            .fotorama__nav-wrap {
                .fotorama__nav {
                    .fotorama__nav__shaft {
                        .fotorama__thumb-border, .fotorama__nav__frame {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        &:hover {
            .fotorama__wrap {
                .fotorama__stage {
                    .fotorama__arr.fotorama__arr--prev, .fotorama__arr.fotorama__arr--next {
                        display: block !important;
                    }
                }
            }
        }
    }

    .product.media {
        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }

        .placeholder .photo.container {
            max-width: 100%;
        }

        .gallery-placeholder {
            .fotorama-item {
                .fotorama__wrap {
                    z-index: 99;
                }
            }
        }

        .notice {
            margin: @indent__s 0;
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
        }

        .product.thumbs {
            margin: @indent__s 0 @indent__m;
        }

        .items.thumbs {
            .lib-list-inline();
            > li {
                margin: 1rem 0 0;
            }

            img {
                display: block;
            }

            .active {
                display: block;
                line-height: 1;
            }
        }
    }

    .product.info.detailed {
        clear: both;
        margin-bottom: @indent__l;

        .product.data.items {
            > .item.title.active > .switch {
                border-bottom: 2px solid @color-custom_title;
                .smooth-hover(none);
            }

            > .item.title:hover > .switch {
                border-bottom: 2px solid @color-custom_title;
                .smooth-hover(none);
            }

            > .item.title > .switch {
                .lib-font-size(18px);
                background: 0 0;
                border: none;
                font-weight: @font-weight__semibold;
                line-height: 38px;
                text-transform: uppercase;
                color: @color-custom_title;
                text-align: center;
                cursor: pointer;
                padding: 0 0 @indent__s 0;
                height: auto;
                margin-right: @indent__l;
                letter-spacing: .5px;
            }

            > .item.content {
                border: none;
                padding: @indent__xs + @indent__l 0;
                color: @color-custom_subtitle;

                ul {
                    padding-left: 0;

                    li {
                        list-style-type: none;
                    }
                }
            }
        }

        .additional-attributes {
            width: auto;
            .lib-table-bordered(
                @_table_type: clear
            );

            .lib-table-resize(
                @_th-padding-left: 0,
                @_th-padding-right: @indent__l,
                @_th-padding-bottom: @indent__s,
                @_td-padding-bottom: @indent__s
            );
        }
    }

    .product-info-main {
        .page-title-wrapper {
            display: block;
            h1 {
                .lib-css(font-size, @product-h1-font-size);
                .lib-css(font-weight, @product-h1-font-weight);
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }

        .product-info-price {
            .lib-css(color, @product-info-price);
            display: table;
            margin-bottom: @indent__s + @indent__xs;
            width: 100%;

            .price-box {
                display: inline-block;
                vertical-align: top;
                width: auto;

                .price-container {
                    > span {
                        display: block;
                        margin-bottom: @indent__xs;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    .price {
                        .lib-font-size(20px);
                    }
                }
            }

            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(14);
                .price {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                    line-height: 16px;
                }
            }

            .price-wrapper .price {
                .lib-font-size(22);
                font-weight: @font-weight__semibold;
                line-height: 22px;
            }

            .old-price {
                margin-left: @indent__xs;

                .price-wrapper .price {
                    .lib-font-size(16px);
                    font-weight: @font-weight__light;
                    text-decoration: line-through;
                }
            }

            .special-price {
                display: inline-block;

                .price-label {
                    &:after {
                        content: ': ';
                    }
                }
            }

            .price {
                white-space: nowrap;
            }
        }

        .product-info-stock-sku {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            padding-bottom: @indent__s;
        }

        .stock {
            margin: 0 0 3px;

            &.available,
            &.unavailable {
                .lib-font-size(13px);
                padding-bottom: @indent__s;

                span {
                    margin-left: 8px;
                }
            }
        }

        .product.attribute.sku {
            word-break: break-all;
            word-wrap: break-word;
        }

        .product {
            &.attribute {
                &.sku {
                    .lib-font-size(13px);
                    .type {
                        font-weight: normal;
                        margin-right: @indent__xs;

                        &:after {
                            content: ':';
                        }
                    }

                    .value {
                        display: inline-block;
                    }
                }

                &.overview {
                    margin: @indent__base 0;

                    .value {
                        color: @color-custom_subtitle;

                        ul {
                            padding-left: 0;

                            li {
                                list-style-type: none;
                            }
                        }
                    }
                }
            }

            &.alert {
                margin: @indent__s 0;
            }
        }

        .product-add-form {
            clear: both;
            padding: @indent__l @indent__base;
            background: #fff;

        }

        .product-reviews-summary {
            float: left;
            margin-bottom: 0;
            padding-bottom: @indent__s;

            .reviews-actions {
                .action {
                    .lib-font-size(13px);
                    .lib-link(
                        @_link-color: @color-custom_title,
                        @_link-text-decoration: none,
                        @_link-color-visited: @color-custom_title,
                        @_link-text-decoration-visited: none,
                        @_link-color-hover: @color-custom_subtitle,
                        @_link-text-decoration-hover: none,
                        @_link-color-active: @color-custom_title,
                        @_link-text-decoration-active: none
                    );
                }
            }
        }

        .product-options-bottom {
            .box-tocart {
                margin-top: @form-field__vertical-indent;
            }
        }
    }

    .product-options-wrapper {
        .fieldset {
            &:focus {
                box-shadow: none;
            }
        }

        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__semibold);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                margin: 0 0 8px;
                padding: 0;
            }

            //  Date & Time custom option (Affect Time that goes only after Date)
            input.datetime-picker {
                ~ select.datetime-picker {
                    margin-top: @indent__s;
                }
            }

            &.required,
            &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography(
                        @_font-size: @form-field-label-asterisk__font-size,
                        @_color: @form-field-label-asterisk__color,
                        @_font-family: @form-field-label-asterisk__font-family,
                        @_font-weight: @form-field-label-asterisk__font-weight,
                        @_line-height: @form-field-label-asterisk__line-height,
                        @_font-style: @form-field-label-asterisk__font-style
                        );
                    }
                }
            }
        }

        .field {
            .note {
                display: block;
                .lib-css(margin-top, @indent__xs);
            }
        }
        .field {
            .note.mage-error {
                color: @error__color;
            }
        }
    }

    .product-options-bottom .price-box,
    .product-info-price .price-box {
        .lib-css(color, @product-info-price);
        display: table-cell;
        padding-bottom: @indent__s;
        vertical-align: top;

        .old-price {
            .lib-font-size(20px);
            font-weight: @font-weight__light;

            .price-container {
                > span {
                    display: inline-block;
                }
                .price-label {
                    display: none;
                }
            }
        }

        .price-container {
            > span {
                display: inline;
                margin-bottom: @indent__xs;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .price {
                .lib-font-size(20px);
                font-weight: @font-weight__semibold;
                line-height: 22px;
            }

            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(12);
                line-height: 14px;

                .price {
                    .lib-font-size(12);
                    font-weight: @font-weight__bold;
                }
            }
        }
    }

    .box-tocart {
        &:extend(.abs-box-tocart all);

        .field.qty {
        }

        .input-text.qty {
            &:extend(.abs-input-qty all);
        }

        .actions {
        }

        .action.tocart {
            &:extend(.abs-button-l all);
            &:extend(.abs-button-responsive all);

            vertical-align: top;
        }
    }

    .product-addto-links {
        display: inline;

        .action {
            margin-right: 2%;
            border: 1px solid @color-custom_border;
            padding: 8px 10px;
            .lib-css(background, @color-custom_white);

            &:hover {
                .lib-css(background, @color-custom_title);
            }
        }
    }

    .product-social-links {
        text-align: center;

        .action.towishlist, .action.tocompare, .action.togiftr {
            &:before {
                .smooth-hover(ease-in-out .3s);
                .lib-css(margin, 0);
            }

            &:hover {
                &:before {
                    .lib-css(color, @color-custom_white);
                }
            }

            span {
                display: none;
            }
        }

        .action.tocompare {
            &:extend(.abs-actions-addto all);
            .lib-icon-font-symbol(
                @_icon-font-content: @icon-compare-full,
                @_icon-font-position: before
            );
        }
    }

    .prices-tier {
        &:extend(.abs-reset-list all);
        margin-bottom: @indent__s + @indent__xs;

        .item {
            margin-bottom: @indent__s;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .price-excluding-tax,
        .price-including-tax {
            display: inline-block;
        }
    }

    .minimal-price-link,
    .price-excluding-tax,
    .price-including-tax {
        display: block;
        white-space: nowrap;
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }

    //
    //  Sidebar product view
    //  -----------------------------------------

    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: @indent__base;
                position: relative;
            }

            .product-item-info {
                position: relative;
                width: auto;

                .product-item-photo {
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-name {
                margin-top: 0;
            }

            .product-item-details {
                margin: 0 0 0 85px;
            }

            .product-item-actions {
                display: block;
                margin-top: @indent__s;
            }

            .price-box {
                display: block;
                margin: 7px 0;
            }

            .text {
                margin-right: 8px;
            }

            .counter {
                .lib-css(color, @primary__color__lighter);
                .lib-font-size(12px);
                white-space: nowrap;
            }

            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }

                .weee:before {
                    display: inline-block;
                }
            }

            .action {
                &.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        .block-compare {
            .block-title{
                strong{
                    font-weight: @font-weight__semibold;
                }
            }

            .action {
                &.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    right: initial;
                }
            }
        }

        .action.tocart {
            border-radius: 0;
        }

        .subtitle {
            &:extend(.abs-no-display all);
        }

        //
        //  Product images only
        //  -------------------------------------

        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;

            .product-item {
                &:extend(.abs-add-box-sizing all);
                float: left;
                padding-left: @indent__xs;
            }
        }

        //
        //  Product names only
        //  -------------------------------------

        .product-items-names {
            .product-item {
                display: flex;
                margin-bottom: @indent__s;
            }

            .product-item-name {
                margin: 0;
            }
        }
    }

    //
    //  Category page 1 column layout
    //  ---------------------------------------------

    .catalog-category-view.page-layout-1column {
        .column.main {
            min-height: inherit;
        }
    }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view {
        .column.main {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }

        .product.media {
            .lib-vendor-prefix-order(-1);
        }
    }
}

//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .product.media .gallery-placeholder {
        .fotorama {
            height: 500px;

            .fotorama__wrap {
                .fotorama__stage {
                    .fotorama__arr {
                        display: block !important;
                        width: 60px;
                        right: 5%;

                        &__arr {
                            width: 60px;
                        }
                    }

                    &__frame .fotorama__img {
                        width: 300px;
                    }
                }
            }
        }
    }

    .product-info-main {
        padding-top: @indent__m;

        .product-info-price {
            margin: 0 -@indent__s 0;
            width: ~'calc(100% + 2*@{indent__s})' !important;

            > *:first-child {
                padding-left: @indent__s;
            }

            > *:last-child {
                padding-right: @indent__s;
            }
        }
    }

    .product.info.detailed {
        .additional-attributes-wrapper {
            &:extend(.abs-no-border-top all);
        }

        .product.data.items {
            padding: @indent__base;
            border: none;

            .data.item.title  > .switch{
                margin-right: 0;

                &:after {
                    content: "";
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product.media .gallery-placeholder {
        .fotorama {
            .fotorama__wrap {
                .fotorama__stage {
                    height: 300px !important;

                    .fotorama__arr {
                        display: block !important;
                        width: 60px;
                        right: 5%;

                        &__arr {
                            top: 50%;
                            width: 60px;
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .product.media {
        .gallery-placeholder {
            .fotorama-item {
                .fotorama__wrap {
                    z-index: 99;

                    .fotorama__stage {
                        height: 700px !important;

                        .fotorama__arr {
                            width: 80px;
                            right: 0;

                            &__arr {
                                width: 80px;
                            }
                        }
                    }
                }
            }
        }
    }

    .product-info-main {
        .product-add-form {

        }
    }

    .product-social-links {
        width: 60%;
        text-align: center;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-info-main {
        .page-title-wrapper {
            h1 {
                .lib-css(margin-bottom, @product-h1-margin-bottom-desktop);
            }
        }
    }

    .box-tocart {
        .action.tocart {
            margin-bottom: 0;
            margin-right: 1%;
            width: 49%;
        }
    }

    .product-options-bottom,
    .product-info-price {
        .price-box {
            .price-container {
                font-size: @font-size__xl;

                .price {
                    .lib-font-size(36px);
                    line-height: 36px;
                }
            }

            .price-including-tax + .price-excluding-tax {
                .price {
                    .lib-font-size(14);
                    line-height: 16px;
                }
            }
        }
    }

    //
    //  Category page layout
    //  -----------------------------------------

    .product-info-main {
        float: right;
    }

    .product.media {
        float: left;
        margin-bottom: @indent__xl;
    }

    .page-layout-1column {
        .product-info-main {
            width: 50%;
        }

        .product.media {
            width: 45%;
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 48%;
        }

        .product.media {
            width: 50%;
        }
    }

    .product-add-form {
        .product-options-wrapper {
            .field {
                .control {
                    width: 80%;
                }
            }
        }
    }

    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: left;
                    left: auto;
                    margin: 0 @indent__s @indent__s 0;
                    position: relative;
                    top: auto;
                }
            }

            .product-item-details {
                margin: 0;
            }

            .product-item-actions {
                clear: left;
            }
        }
    }

    //
    //  Category page 1 column layout
    //  ---------------------------------------------

    .catalog-category-view.page-layout-1column {
        .column.main {
            min-height: inherit;
        }
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: none;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-details {
                margin-left: 85px;
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Compare Products Page
    //  -----------------------------------------

    body.catalog-product-compare-index {
        .action.print {
            float: right;
            margin: 15px 0;
        }
    }

    .table-wrapper.comparison {
        clear: both;
        max-width: 100%;
        overflow-x: auto;
        position: relative; // Needed for Safari(iOS) to properly render 'overflow-x' rule.

        .table-comparison > tbody > tr {
            > th,
            > td {
                border-top: 0;
            }
        }
    }

    .table-comparison {
        table-layout: fixed;

        .cell {
            padding: 15px;
            width: 180px;

            &.label {
                border-right: @table__border-width @table__border-style @table__border-color;

                &.remove,
                &.product {
                    span {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                .attribute.label {
                    display: block;
                    width: 100%;
                    word-wrap: break-word;
                }
            }

            &.product {
                &.info,
                &.label {
                    border-bottom: @table__border-width @table__border-style @table__border-color;
                }
            }

            &.attribute {
                .lib-font-size(13);

                img {
                    height: auto;
                    max-width: 100%;
                }
            }

            &.remove {
                padding-bottom: 0;
                padding-top: 0;
                text-align: right;

                .action.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    margin-right: .6rem;
                }
            }

            .attribute.value {
                overflow: hidden;
                width: 100%;
            }
        }

        td {
            &:last-child {
                border-right: @table__border-width @table__border-style @table__border-color;
            }
        }

        .product-item-photo {
            display: block;
            margin: 0 auto 15px;
        }

        .product-image-photo {
            margin-left: 0;
        }

        .product-item-actions,
        .price-box,
        .product.rating,
        .product-item-name {
            display: block;
            margin: 15px 0;
        }

        .product-addto-links {
            margin-top: 15px;

            .action {
                &.toggle {
                    padding: 0;
                }

                &.split,
                &.toggle {
                    .lib-button-s();
                }
            }
        }

        .action {
            &.tocart {
                white-space: nowrap;
            }
        }
    }

    .comparison.headings {
        .lib-css(background, @color-white);
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 2;
    }

    .block-compare {
        .block-title {
            &:extend(.abs-block-widget-title all);
        }

        .product-item .product-item-name {
            margin-left: 22px;
        }

        .action.delete {
            &:extend(.abs-remove-button-for-blocks all);
            left: 0;
            position: absolute;
            top: 0;
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .actions-toolbar {
            margin: 17px 0 0;
        }

        .action.primary {
            &:extend(.abs-revert-to-action-secondary all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .table-wrapper.comparison {
        .table-comparison > tbody > tr {
            > th,
            > td {
                display: table-cell;
                &:extend(.abs-col-no-prefix all);
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .sidebar {
        .product-items {
            .action {
                &.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    line-height: unset;
                    position: absolute;
                    right: 0;
                    top: -1px;
                    width: auto;
                }
            }
        }

        .block-compare {
            .action {
                &.delete {
                    left: 0;
                    right: initial;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .compare.wrapper {
        display: none;
    }

    .catalog-product_compare-index {
        .columns {
            .column {
                &.main {
                    flex-basis: inherit;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .compare.wrapper {
        float: right;
        .lib-list-reset-styles();

        .action.compare {
            line-height: @form-element-input__height;
            .lib-link(
                @_link-color: @primary__color,
                @_link-text-decoration: none,
                @_link-color-visited: @primary__color,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @primary__color,
                @_link-text-decoration-hover: underline,
                @_link-color-active: @primary__color,
                @_link-text-decoration-active: underline
            );
        }

        .counter.qty {
            .lib-css(color, @primary__color__lighter);

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .block.related, &.upsell {
        .block-title {
            h1 {
                .lib-font-size(18px);
                font-weight: @font-weight__semibold;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }

        .action.select {
            &:extend(.abs-action-button-as-link all);
            vertical-align: top;
        }

        .product-item-details {
            padding-top: @indent__base;
            position: relative;
            z-index: 1;

            .actions-primary {
                .action.tocart {
                    transform: translate(0, 25%);
                }

                .action.detail-link:active {
                    text-decoration: none;
                }
            }

            .actions-secondary {
                transform: translate(-50%, -85%);
            }
        }

        .field.choice {
            left: 0;
            position: absolute;
            top: 2px;

            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .block.related, &.upsell {
        .product-item {
            padding-bottom: @indent__s;

            &-details {
                .actions-primary {
                    .action.tocart {
                        transform: translate(0, 5%);
                        padding-bottom: @indent__l;
                    }
                }

                .actions-secondary {
                    transform: translate(-50%, -100%);
                }
            }
        }
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .product-info-main {
        .page-title-wrapper {
            h1 {
                .lib-css(margin-bottom, @product-h1-margin-bottom-desktop);
            }
        }
    }

    .box-tocart {
        .paypal:first-of-type {
            margin-top: 13px;
        }
    }
}
