@import "../_list-custom";
@import "../_view-custom";

& when (@media-common = true) {
    .hp_widget-blog{
        &__title h2{
            text-transform: uppercase;
            line-height: 0;
            color: @color-custom_title;
        }

        &__subtitle p{
            text-transform: uppercase;
            color: @color-custom_subtitle;
        }

        a{
            .lib-font-size(14px);
            text-transform: uppercase;
            color: @color-custom_title;
            line-height: 1.5;
            font-weight: @font-weight__bold;
            text-decoration: none;
        }

        .post-list-wrapper{
            .divider{
                width: 30px;
                height: 3px;
                background: @color-custom_title;
            }

            .post-list{
                width: 100%;
                .lib-vendor-prefix-display(flex);

                .post-holder{
                    margin: @indent__base @indent__base 0 0;

                    .post-header{
                        .post-title-holder {
                            .post-title {
                                margin: @indent__s 0;
                                width: 100%;

                                a {
                                    .lib-font-size(14px);
                                    color: @color-custom_title;
                                    text-transform: uppercase;
                                    font-weight: @font-weight__regular;
                                }
                            }
                        }

                        .post-info{
                            padding: 0;

                            .post-posed-date{
                                i {
                                    color: @color-custom_subtitle;
                                }

                                span{
                                    color: @color-custom_subtitle;
                                    .lib-font-size(14px);
                                    font-style: italic;
                                    margin: 0 0 0 7px;
                                }
                            }
                        }
                    }

                .post-details-wrapper {
                    width: 100%;
                    height: 100px;

                    &_title {
                        width: max-content;

                        p {
                            text-transform: capitalize;
                            cursor: pointer;
                            .lib-font-size(16);
                            padding-top: @indent__xs + @indent__s;

                            .lib-icon-font(
                                @_icon-font-content: @icon-next,
                                @_icon-font-size: 12px,
                                @_icon-font-color: @color-custom_black,
                                @_icon-font-position: after
                            );

                            &:after {
                                padding-left: @indent__xs;
                            }
                        }
                    }

                    .post-content{
                        margin: 0;
                        height: 45px;
                        overflow: hidden;
                        display: none;

                        .post-description{
                            .post-text-hld{
                                p{
                                    .lib-font-size(16px);
                                    line-height: 1.5;
                                    color: @color-custom_subtitle;
                                }
                            }
                        }
                    }
                }
             }

         }

     }
 }
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
 .hp_widget-blog {
     padding: @indent__s + @indent__s;

     .post-list-wrapper {
         .post-list {
             .lib-vendor-prefix-flex-direction(column);
         }
     }
 }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
 .hp_widget-blog {
     padding: @indent__s + @indent__s;
 }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l){
 .hp_widget-blog {
     padding: 0;
 }
}




