@import "_homepage";
@import "_layout";

& when (@media-common = true) {
    //Home Page Slider Buttons
    .slick-dots li button {
        border-radius: unset;
        width: 10px;
        height: 10px;

        &:hover {
            background: @color-custom_title;
        }
    }
}



