//Transition Mixin
.smooth-hover (@value){
    -o-transition: @value;
    -ms-transition: @value;
    -moz-transition: @value;
    -webkit-transition: @value;
    transition: @value;
}
& when (@media-common = true) {
    a{
        .smooth-hover(ease-in-out .3s);
    }

    //Home Page Slider Main
    .hp-slide__1, .hp-slide__2{
        p:nth-child(3){
            width: 78px;
            padding: @indent__l + @indent__xs 0 @indent__xs 0;
            font-weight: @font-weight__bold;
            border-bottom: 1px solid @color-custom_title;
        }
    }

    //Home Page Banner Cards
    .hp-card__1, .hp-card__2 {
        .hp-cards__info {
            position: absolute;

            p:nth-child(3){
                width: 78px;
                font-weight: @font-weight__bold;
                border-bottom: 1px solid @color-custom_title;
            }
        }

        &:hover{
            cursor: pointer;
        }
    }

    //Home Page Our Products
    .hp_widget-products{
        &__title h2{
            text-transform: uppercase;
            line-height: 0;
            color: @color-custom_title;
        }

        &__subtitle p{
            position: relative;
            text-transform: uppercase;
            color: @color-custom_subtitle;
            padding-bottom: 8px;
        }

        &__subtitle p:after{
            content: "";
            width: 30px;
            height: 3px;
            background: @color-custom_title;
            position: absolute;
            top: 100%;
            bottom: 0;
            left: 0;
        }

    }

    //Home Page Banner November Sale
    .hp_banner {
        &__container {
            &_banner {
                .smooth-hover(ease-in-out .3s);

                &:hover{
                    cursor: pointer;
                    filter: brightness(70%);
                }
            }
        }
    }

    // Home Page Products Widget
    .hp_best-featured-most{
        padding-bottom: @indent__xl + @indent__l;

        &__title{
            line-height: 0;
            text-transform: uppercase;
        }
    }

    //Home Page Slider Brands
    .hp_slider-brands {
        &__title {
            text-transform: capitalize;
            position: relative;
            z-index: 1;
            overflow: hidden;
        }

        &__title:before, &__title:after {
            position: absolute;
            top: 51%;
            overflow: hidden;
            width: 50%;
            height: 1px;
            content: '';
            background: @color-custom_lines;
            margin-left: 8px;
        }

        &__title:before {
            margin-left: -50.5%;
            text-align: right;
        }

        &__links a:hover {
            color: @color-custom_subtitle;
            text-decoration: none;
        }
    }
}

//Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    //Home Page Slider Main
    .hp-row__slider {
        display: none !important;
    }

    .hp-row__mobile-slider {
        .pagebuilder-mobile-slider__info {
            width: 50%;
        }
    }

    //Home Page Banner Cards
    .hp-card__1, .hp-card__2 {
        margin: 0;
        height: 230px;

        .hp-cards__info {
            top: 20%;
            left: 50%;

            p:nth-child(1) {
                .lib-font-size(@font-size__s);
            }

            p:nth-child(3) {
                width: 78px;
                padding: @indent__s 0 @indent__xs 0;
            }
        }
    }

    //Home Page Banner November Sale
    .hp_banner {
        height: 50px;
        margin-bottom: @indent__m + @indent__m;

        &__container {
            height: 50px;

            &_banner {
                height: 50px;
            }
        }
    }

    // Home Page Products Widget
    .hp_best-featured-most {
        padding-left: @indent__base;

        &__bestsellers {
            &_products {
                padding-bottom: @indent__xl;
            }
        }

        &__featured {
            &_products {
                padding-bottom: @indent__xl;
            }
        }

        &__most-viewed {
            margin-left: 0;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    //Home Page Slider Main
    .hp-row__mobile-slider {
        display: none !important;
    }

    //Home Page Banner Cards
    .hp-card__1, .hp-card__2 {
        padding: 0 @indent__s;
        height: 230px;

        .hp-cards__info {
            top: 40%;
            left: 50%;
        }
    }

    //Home Page Our Products
    .hp_widget-products {
        padding-left: @indent__s;
    }

    // Home Page Products Widget
    .hp_best-featured-most {
        padding-left: @indent__s;

        &__bestsellers, &__featured {
            padding-right: @indent__base;
        }
    }
}

//Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .hp-card__1, .hp-card__2 {
        height: auto;

        .hp-cards__info {
            top: 70%;
            left: 50%;

            p:nth-child(1){
                .lib-font-size(@font-size__l + @font-size__xs)
            }

            p:nth-child(3){
                width: 78px;
                padding: @indent__base 0 @indent__s 0;
            }
        }
    }

    .hp-card__2 {
        margin-left: @indent__xs + @indent__s;
    }

    //Home Page Our Products
    .hp_widget-products {
        padding-left: 0;
    }

    //Home Page Banner November Sale
    .hp_banner {
        padding-bottom: @indent__xl + @indent__l;
    }

    // Home Page Products Widget
    .hp_best-featured-most{
        padding-left: 0;

        &__bestsellers {
            padding-right: @indent__base;
        }

        &__most-viewed {
            padding-left: @indent__base;
        }
    }
}





